@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* 
main palette
rgba(207, 10, 44, 1) #sju red
rgba(7, 27, 44, 1) #navy
rgba(138, 138, 141, 1) #pms cool gray
rgba(249, 249, 249, 1) #offwhite

subpalette
rgba(133, 112, 64, 1) #metallic gold
rgba(223, 209, 167, 1) #cool gold
rgba(143, 143, 140, 1) #metallic silver
rgba(176, 189, 176, 1) #warm silver 

https://www.stjohns.edu/sites/default/files/uploads/StJohns_Style_Guide_Sept_2021.pdf
*/

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-height: 100vh;
  background-image: radial-gradient(
    circle farthest-side at 50% 100%,
    rgba(207, 10, 44, 1) 1%,
    rgba(7, 27, 44, 1) 35%
  );
}

#hero {
  display: flex;
  font-family: 'Anta', sans-serif;
  width: 100vw;
  height: 10vh;
  background-color: rgb(207, 10, 44);
  color: rgb(249, 249, 249);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.heroText {
  font-size: 3rem;
  font-style: italic;
}

#chatbody {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
  align-items: center;
  height: 90vh;
  width: 90vw;
  max-width: 1200px;
}

/* MODEL PICKER */
#submenu { 
  display: flex;
  flex-direction: column;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.modelOptions {
  display: flex;
  align-items: center;
}

.modelButtons {
  background-color: rgb(138,138,141);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0 5px; 
}

.modelbuttons.subactive {
  width: 2rem;
  height: 2rem;
}

.modelButtons.active {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.submenuLabel {
  color: rgba(255, 255, 255, .8);
  margin: 5px;
  font-size: .728rem;
}

/* CHAT */

#chatbox {
  font-family: 'Poppins', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 70vh;
  overflow: hidden;
  max-width: 100%;
}

#chatWindow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 95%; */
  height: 100vh;
  border: rgb(138,138,141) 3px solid;
  border-radius: 30px;
  overflow-x: hidden;
  /* overflow-y: scroll;  */
  scrollbar-color: rgb(26, 98, 161);
  margin-top: 1vh;
}

/* SCROLLBAR (needs work)
#chatWindow::-webkit-scrollbar { width: 1
  0px; }
  #chatWindow::-webkit-scrollbar-track { background: rgb(var(--bar) / 50%); }
  #chatWindow::-webkit-scrollbar-thumb { background: rgb(var(--thumb) / 50%); }
  #chatWindow::-webkit-scrollbar-thumb:hover { background: rgb(var(--thumb) / 100%); } */

.chatOutput {
  margin: 10px;
  width: auto;
  max-width: 70%;
  padding: 10px 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.typingIndicator {
  width: auto;
  padding: 10px 20px;
}

.chatOutput.bot {
  background-color: rgba(207, 10, 43, 0.8);
  color: rgba(249, 249, 249, 1);
  border-radius: 25px 25px 25px 0;
}

.chatOutput.user {
  background-color: rgb(206, 180, 121);
  margin-left: auto;
  border-radius: 25px 25px 0 25px;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 3px;
  animation: typing 1.2s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chatOutput.bot .dot {
  background-color: rgba(249, 249, 249);
}

.chatOutput.user .dot {
  background-color: rgba(24, 24, 24);
}

#inputBar {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 2rem;
  width: 80vw;
}

#mainInputField {
  border: none;
  border-radius: 25px;
  width: 80%;
  padding: 0 15px;
}

#mainInputField::placeholder {

}

.submitIcon {
  fill: rgb(143, 143, 143);
  border: none;
  width: 15px;
  height: 2rem;
  width: 2rem;
  margin-left: 10px;
}


@media (max-width: 400px) {


}
