@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=dvv1sjh&ht=tk&f=39438.39439.39440.39441.39530.39531.39538.39543&a=1803985&app=typekit&e=css");

/* 
main palette
rgba(207, 10, 44, 1) #sju red
rgba(7, 27, 44, 1) #navy
rgba(138, 138, 141, 1) #pms cool gray
rgba(249, 249, 249, 1) #offwhite

subpalette
rgba(133, 112, 64, 1) #metallic gold
rgba(223, 209, 167, 1) #cool gold
rgba(143, 143, 140, 1) #metallic silver
rgba(176, 189, 176, 1) #warm silver 

project specific
rgb(145, 22, 46) #muted red

https://www.stjohns.edu/sites/default/files/uploads/StJohns_Style_Guide_Sept_2021.pdf
*/

body {
  margin: 0;
  padding: 0;
  min-width: 350px; 
}

body::-webkit-scrollbar {
  display: none;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: 
    radial-gradient(
      ellipse 130% 10% at 50% 0%, 
      rgba(207, 10, 44, .7) 1%,    
      rgba(207, 10, 44, 0.3) 30%, 
      transparent 70%             
    ),
    radial-gradient(
      ellipse 180% 50% at 50% 105%, 
      rgba(207, 10, 44, .7) 1%, 
      rgba(42, 33, 66, .8) 40%, 
      transparent 
    );
  background-color: rgba(7, 27, 44, 1); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: top, bottom;
}

#hero {
  display: flex;
  font-family: 'Anta', sans-serif;
  width: 100vw;
  height: 14vh;
  color: rgb(249, 249, 249);
  text-align: center;
  justify-content: center;
  /* background-color: rgb(207, 10, 44); */
  /* background: linear-gradient(to bottom, 
    rgb(207, 10, 44),
    rgba(207, 10, 44, 0)
  ) */
}

.heroImg {
  height: 80%;
  width: auto;
  margin-top: 10px;
}

#chatbody {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
  align-items: center;
  height: 82vh;
  width: 90vw;
  min-width: 350px;
  max-width: 712px;
}

/* CHAT */
#chatbox {
  font-family: 'neue-kabel', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 70vh;
  width: 100%;
}

#chatWindow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70vh;
  border-radius: 40px;
  overflow-x: hidden;
  overflow-y: auto; 
  margin-top: 1vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(22, 58, 82, 1),
    rgba(117, 32, 58, 1)
  );
}

/* FIREFOX */
/* scrollbar-width: thin; 
scrollbar-color: #244151 transparent; */

/* SCROLLBAR STYLING FOR CHROME/EDGE/SAFARI */
#chatWindow::-webkit-scrollbar {
  width: 25px;
}

#chatWindow::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 1rem;
}

#chatWindow::-webkit-scrollbar-thumb {
  background-color: #244151;
  border-radius: 25px;  
  border: 7px solid transparent; 
  background-clip: padding-box;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

#chatWindow::-webkit-scrollbar-thumb:hover {
  background-color: #2f566b;
}

.chatOutput {
  margin: 20px 10px 0;
  width: auto;
  max-width: 70%;
  padding: 15px 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 1.1rem;
}

.chatOutput:last-child {
  margin-bottom: 20px;
}

.typingIndicator {
  width: auto;
  padding: 20px;
}

.chatOutput.bot {
  background-color: rgb(145, 22, 46);
  color: rgb(234, 214, 214);
  border-radius: 25px 25px 25px 0;
  margin-left: 20px;
}

/* .chatOutput.bot:not(:only-child):last-child {
  animation: botOutput 0.1s ease-out forwards;
} */

.chatOutput.bot:last-child {
  animation: botOutput 0.2s ease-out forwards;
}

.chatOutput.user:last-child{
  animation: userOutput .2s ease-out forwards;
}

.chatOutput.user {
  background-color: rgb(206, 180, 121);
  margin-left: auto;
  border-radius: 25px 25px 0 25px;
}

@keyframes botOutput {
  from {
    transform: scale(0); 
    transform-origin: left bottom; 
  } to {
    transform: scale(1); 
    transform-origin: left bottom; 
  }
}

@keyframes userOutput {
  from {
    transform: scale(0); 
    transform-origin: right bottom; 
  } to {
    transform: scale(1); 
    transform-origin: right bottom; 
  }
}

/* INDICATOR ANIMATION */
.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 3px;
  animation: typing 1.2s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}

.chatOutput.bot .dot {
  background-color: rgba(234, 214, 214);
}

.chatOutput.user .dot {
  background-color: rgba(24, 24, 24);
}

#inputBar {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 2.5rem;
  width: 100%;
  margin-top: 2vh;
}

#mainInputField {
  position: relative;
  font-family: 'neue-kabel', sans-serif; /* Matches the chat text font */
  font-size: 1.5rem; /* Matches the chat text size */
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  min-height: 3rem; /* Slightly larger box height for better UX */
  transition: height 0.2s ease;
  resize: none;
  overflow: hidden;
}

#mainInputField::placeholder {
  font-size: 1.5rem; /* Matches the regular text size */
  color: rgba(143, 143, 143, 1); /* Placeholder text color */
  font-family: 'neue-kabel', sans-serif; /* Matches the chat text font */
}


.submitIcon {
  fill: rgb(143, 143, 143);
  border: none;
  width: 15px;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 10px;
}

.submitEnabled {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

@media (max-width: 400px) {
  .heroImg {
    height: 70%;
    margin-top: 2vh;
  }

}

@media (min-height: 1000px) {
  .heroImg {
    height: 70%;
    margin-top: 2vh;
  }
}
